.Home {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.ButtonList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 30%;
}

.Logo {
  margin-top: auto;
}
