.Logo {
  grid-column: main;
  position: relative;
  top: 65px;
}

.ButtonList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  position: relative;
  top: 220px;
}
