.Home {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.ButtonList {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 40%;
}

.Logo {
  margin-top: 3em;
  min-height: 144px;
  min-width: 269px;
}
