.App {
  text-align: center;
  display: grid;
  grid-template-columns: [width] 100vw;
  grid-template-rows: [header] 100px [main] auto [footer] 70px;
}

.Header {
  grid-column: width;
  grid-row: header;
}

.Main {
  grid-column: width;
  grid-row: main;
  background-image: url("./images/Background-picture.png");
}

.Footer {
  grid-column: width;
  grid-row: footer;
}
