.App {
  text-align: center;
  display: grid;
  grid-template-columns: [width] 100vw;
  grid-template-rows: [header] 100px [main] auto [footer] 70px;
  background-image: url("./images/Background-picture.png");
}

.Header {
  grid-column: width;
  grid-row: header;
}

.Main {
  grid-column: width;
  grid-row: header;
}

.Footer {
  grid-column: width;
  grid-row: footer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
